* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-image: url("data/background.jpg"); /* Pfad zum Bild */
    background-size: cover;   /* skaliert es schön */
    background-position: center; /* zentriert das Bild */
    background-repeat: no-repeat; /* kein Kacheln */
    background-attachment: fixed; /* bleibt beim Scrollen */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#uploadArea, #uploadAreaSmall {
    border: 3px dashed #007bff;
    border-radius: 10px;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#uploadArea span, #uploadAreaSmall span {
    display: block;
    line-height: 1.4;
}

#uploadArea {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
    font-size: 18px;
}

#uploadArea.dragover, #uploadAreaSmall.dragover {
    background-color: #d0e7ff;
    border-color: #0056b3;
    color: #0056b3;
}

#uploadAreaSmall {
    width: 200px;
    height: 80px;
    margin: 10px auto 30px;
    font-size: 14px;
    display: none;
}

#fileInput, #fileInputSmall {
    display: none;
}

#uploadedImage {
    display: none;
    margin: 0 auto 10px;
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    object-fit: contain;
}

#divider {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: 20px auto;
    display: none;
}

#visuals {
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 40px;
    padding: 0 10px;

    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}

.chartContainer {
    flex: 1 1 40%;
    aspect-ratio: 3 / 4;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 100px;
}

#barChart {
    width: 100%;
    height: 100%;
}

#map {
    flex: 2 1 60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    min-width: 500px;
}

#result {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 13px;
    color: #333;
    display: none;
}

@media (max-width: 900px) {
    #visuals {
    flex-direction: column;
    align-items: center;
    }

    .chartContainer,
    #map {
    width: 100%;
    aspect-ratio: auto;
    }
}